project_id="container-vm-test"
subnetwork="default"
credentials_path="../../../credentials.json"
mig_name="mig-test"
image="gcr.io/google-samples/hello-app:1.0"
image_port="8080"
machine_type="n1-standard-1"
subnetwork_project="container-vm-test"
region="us-east4"
zone="us-east4-b"
